.home {
  .movies_title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  .movies_title {
    font-weight: 400;
    font-size: 20px;
    margin: 0;
  }

  .movies_filter-container {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
  }

  .movies_filter-title {
    font-weight: 700;
    font-size: 15px;
  }

  .movies_filter-selected-dates {
    border-radius: 50px;
    border: solid 1px #b3b3b3;
    padding: 5px 10px;
    margin-left: 15px;
    font-size: 15px;
    color: #a6a6a6;
    i {
      margin-right: 10px;
    }
  }

  .movie_overlay {
    top: 0;
    left: 0;
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(140, 140, 140, 0.5);
  }

  .movie_cards-container {
    position: relative;

  }

  .movie_card-container {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .movie_card {
    position: relative;
    padding-top: 130%;
    border-radius: 5px;
    overflow: hidden;

    &:hover .movie_overlay {
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }

    img {
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .btn-reserve {
      margin-bottom: 20px;
      padding: 10px 0;
      width: 70%;
    }
  }

  .date-picker-home > div {
    display: none;
  }

  .sold-out-container {
    align-items: center!important;
  }

  .sold-out {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    color: #FFFFFF;
    background: #004E95;
  }

}

@media only screen and (max-width: 64em) {
  .home {
    flex-direction: column;

    .movie_overlay {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
    }

    .sold-out-container {
      justify-content: center!important;
    }

    .movie_card {

      &:hover .movie_overlay {
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
      }

    }

    .movies_filter-title {
      width: 100%;
      margin-bottom: 10px;
    }

    .movies_filter-selected-dates {
      width: 100%;
      margin-left: 0;
    }
  }
}
